@using Masa.Docs.Shared.ApiGenerator
@namespace Masa.Docs.Shared.Components

<AppSheet>
    <MSimpleTable Class="api-table">
        <thead>
        <tr>
            @foreach (var header in Headers)
            {
                <th class="@header">
                    <div class="text-capitalize">@header</div>
                </th>
            }
        </tr>
        </thead>
        <tbody>
        @foreach (var item in Data)
        {
            <tr>
                @foreach (var header in Headers)
                {
                    if (header == "name")
                    {
                        <td>
                            <span class="name-item text-mono">
                                <span class="font-weight-bold primary--text">
                                    @item.Name
                                </span>
                            </span>
                        </td>
                    }
                    else if (header == "type")
                    {
                        <td>
                            <span class="name-item text-mono">
                                <MHighlight Inline Code="@item.Type" Language="cs"></MHighlight>
                            </span>
                        </td>
                    }
                    else if (header == "default")
                    {
                        <td>
                            <span class="name-item text-mono">
                                <MHighlight Inline Code="@item.DefaultValue" Language="cs"></MHighlight>
                            </span>
                        </td>
                    }
                }
            </tr>

            @if (!string.IsNullOrWhiteSpace(item.Description))
            {
                <tr>
                    <td colspan="3" class="text--mono">
                        <MMarkdownIt Source="@item.Description"></MMarkdownIt>
                    </td>
                </tr>
            }
        }
        </tbody>
    </MSimpleTable>
</AppSheet>

@code {

    [Parameter]
    [EditorRequired]
    public string Name { get; set; } = null!;

    [Parameter]
    public List<ParameterInfo> Data { get; set; }

    static readonly Dictionary<string, string[]> HeaderMaps = new()
    {
        { "props", new[] { "name", "type", "default" } },
        { "events", new[] { "name", "type" } },
        { "contents", new[] { "name", "type" } }
    };

    private string[] Headers => HeaderMaps[Name];

}
