@page "/{category}/{page}"

<div class="mb-6">
    <MButton OnClick="ChangeCulture">Toggle culture</MButton>
</div>

<MContainer Class="pa-4 pa-sm-6 pa-md-8"
            Fluid
            Tag="section">
    <MResponsive MaxWidth="960"
                 Class="mx-auto overflow-visible">
        @if (_frontMatter is not null)
        {
            <FrontMatter Yaml="@_frontMatter"></FrontMatter>
        }

        <MTabs>
            <MTab Href="@NavigationManager.GetUriWithQueryParameter("tab", "")">DEMO</MTab>
            <MTab Href="@NavigationManager.GetUriWithQueryParameter("tab", "api")">API</MTab>
        </MTabs>

        <FadeTransition LeaveAbsolute>
            <ShowTransitionElement Tag="div" Value="@IsApiTab">
                <Apis Page="@Page"></Apis>
            </ShowTransitionElement>
            <ShowTransitionElement Tag="div" Value="@(!IsApiTab)">
                <MMarkdownIt Source="@_md" Html
                             OnFrontMatterParsed="@(val => _frontMatter = val)" />
            </ShowTransitionElement>
        </FadeTransition>
    </MResponsive>
</MContainer>
